.main-nav {
    background-image: url("../images/coronavirus_banner.jpg");
    background-position: center;
    background-size: cover;
    min-height: 200px;
}
.text-shadow-grey {
    text-shadow: 0px 2px 5px #232338;
}

.text-shadow-sm {
    text-shadow: 0px 1px 4px #232338;
}
.grey-finder {
    background-color: grey;
    min-height: 100px;
}
.bg-footer {
    background-image: url("../images/greyscale_banner_faded.jpg");
    background-position: center;
    background-size: cover;
    min-height: 300px;
}
.footer-block {
    background-color: #1312127a;
    border-radius:20px;
}
.bg-dk-grey {
    background-color: #a5a3a375;
}
.project-logo {
    display: inline-block;
    max-width: 100px;
}
.decoration-none {
    text-decoration: none;
}
.text-lt-grey {
    color: #a4a4a5;
}
