        {% extends "inner_base.html" %}
        {% block content %}

        {% load static %}
        <div class="row my-4">
            <h1 class="text-center">Demo Charts</h1>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <canvas class="my-5" id="lineChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <canvas class="my-5" id="barChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <canvas class="my-5" id="radarChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <canvas class="my-5" id="pieChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <canvas class="my-5" id="polarAreaChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <canvas class="my-5" id="bubbleChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <canvas class="my-5" id="scatterChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <canvas class="my-5" id="areaChart"></canvas>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="{% static 'scripts/demoCharts.js' %}"></script>

        {% endblock %}
