        {% extends "inner_base.html" %}
        {% block content %}

        <div class="row my-4">
            <h1 class="text-center">Successful Uploads</h1>
        </div>
        <div class="row my-4">
            <div class="col-8 mx-auto">
                <ul class="list-group">
                    {% for file in all_files %}
                    <li class="list-group-item border-0">{{ file.name }}: {{ file.file.url }}</li>
                    <ul class="list-group">
                        <li class="list-group-item border-0">
                            <form action="/db_load_csv/{{ file.id }}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-primary btn-border border-dark" type="submit">Load This File to Database</button>
                            </form>
                        </li>
                    </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% endblock %}
