{% extends "inner_base.html" %}
{% block content %}

{% load static %}

                                        <!--    Main Content    -->

    <div class="container-md my-5 mx-auto">
        <div class="row">
            <div class="col-8">
                <div class="row my-3">
                    <h4 class="text-center">Choose What Datasets You Want To Work With:</h4>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5 mx-auto">
                        <a href="/apiData" title="API Icon"><img class="d-block mx-auto" src="{% static '/images/gearAndCloud.png' %}" style="max-height: 100px; border:0px;" alt="API Icon of a Cloud with Gear"/></a>
                        <p class="my-3 text-center lead">Work with data from various public APIs like the CDC, Johns Hopkins University, and the New York Times</p>
                    
                    </div>
                    <div class="col-5 mx-auto">
                        <a href="/dashboardData" title="Database Icon"><img class="d-block mx-auto" src="{% static '/images/database.png' %}" style="max-height: 100px; border:0px;" alt="Database Icon"/></a>
                        <p class="my-3 text-center lead">Work with data from our database: pulled from the public NYT dataset and 'cleaned' by our custom algorithms to deal with reporting errors and statistical outliers.</p>
                    </div>
                </div>

                <hr class="my-4">

                <div class="row">
                    <div class="col-4 mx-auto">
                        <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html?s_cid=bb-coronavirus-2019-ncov-NCIRD" title="image of SARS-CoV-2"><img src="http://www.cdc.gov/coronavirus/2019-ncov/images/Coronavirus-badge-300.png" style="width:90%; border:0px;" alt="image of Coronavirus Disease 2019 (COVID-19)"/></a>
                    </div>
                    <div class="col-8 mx-auto">
                        <a href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/need-to-know.html" title="Social Distance and Wear A Mask"><img src="{% static '/images/cloth-faces-1920-1080.jpg' %}" style="width:90%; border:0px;" alt="image of Coronavirus Disease 2019 (COVID-19)"/></a>
                    </div>
                </div>
            </div>

            <div class="col-4">             <!--    Right SideBar    -->
                <div class="mx-auto">
                    <div data-cdc-widget="HDFinderCOVIDVaccination" data-theme="theme2" data-widget-max-height="629px"></div><script src="https://www.cdc.gov/TemplatePackage/contrib/widgets/tp-widget-external-loader.js?ac=20210201"></script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}