<!--    NEW YORK TIMES SINGLE VARIABLE OVER TIME -->

    {% extends "inner_base.html" %}
    {% block content %}

    {% load static %}
    <div class="container-md mx-auto" onload="submitOnLoad()">

        <!-- **************  LINE CHART ***************** -->
        <div class="row my-3">
            <h4 class="text-center border-dark">Single Variable Over Time</h4>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <canvas class="my-3" id="singleVariableOTCanvas"></canvas>
            </div>
        </div>
        <form class="col mx-auto" id="singleVariableOTForm" action="/charts/singleVariableOverTime" method="POST">
            {% csrf_token %}
            <div class="row">
                <!--  X/Y Axis selector  -->
                <div class="col-md-3">
                    <h6 class="my-3">Y Axis Data:</h6>
                    <div class="form-group col-md-6 d-inline-block">
                        <select class="form-control" name="cumulative_daily" id="cumulative_daily_select">
                            <option value="daily" selected>Daily</option>
                            <option value="cumulative">Cumulative</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5 d-inline-block">
                        <select class="form-control" name="cases_deaths" id="cases_deaths_select">
                                <option value="cases" selected>Cases</option>
                                <option value="deaths">Deaths</option>
                        </select>
                    </div>
                    
                    <h6 class="my-3">X Axis Data:  Date Range</h6>
                    <div class="form-group col-md-8 d-inline-block">
                        Start: <input class="form-control" type="date" name="start_date" id="start_date" value="2020-01-01">
                    </div>
                    <div class="form-group col-md-8 d-inline-block">
                        End: <input class="form-control" type="date" name="end_date" id="end_date" value="2021-01-01">
                    </div>
                </div>

                <!--  State / Territory Selector -->
                <div class="col-md-3">    
                    <h5 class="text-center my-2">Select States / Territories</h4>
                    <div class="row my-2">
                        <div class="col-md-4 bg-primary d-inline-block border rounded text-center text-white"><small>State 1</small></div>
                        <div class="form-group col-md-8 d-inline-block">
                            <select class="form-control" name="state_1" id="state_1_select">
                                {% for state in all_states %}
                                    {% if state.fips == 1 %}
                                    <option value="{{state.fips}}" selected>{{state.name}}</option>
                                    {% else %}
                                    <option value="{{state.fips}}">{{state.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-4 bg-success d-inline-block border rounded text-center text-white"><small>State 2</small></div>
                        <div class="form-group col-md-8 d-inline-block">
                            <select class="form-control" name="state_2" id="state_2_select">
                                {% for state in all_states %}
                                    {% if state.fips == 2 %}
                                    <option value="{{state.fips}}" selected>{{state.name}}</option>
                                    {% else %}
                                    <option value="{{state.fips}}">{{state.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-4 bg-danger d-inline-block border rounded text-center text-white"><small>State 3</small></div>
                        <div class="form-group col-md-8 d-inline-block">
                            <select class="form-control" name="state_3" id="state_3_select">
                                {% for state in all_states %}
                                    {% if state.fips == 4 %}
                                    <option value="{{state.fips}}" selected>{{state.name}}</option>
                                    {% else %}
                                    <option value="{{state.fips}}">{{state.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-4 bg-warning d-inline-block border rounded text-center text-white"><small>State 4</small></div>
                        <div class="form-group col-md-8 d-inline-block">
                            <select class="form-control" name="state_4" id="state_4_select">
                                {% for state in all_states %}
                                    {% if state.fips == 5 %}
                                    <option value="{{state.fips}}" selected>{{state.name}}</option>
                                    {% else %}
                                    <option value="{{state.fips}}">{{state.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 blue-finder">blah</div>
                <div class="col-md-3 blue-finder">blah</div>
                <button id="singleVariableOTSubmit" class="btn btn-sm btn-info border rounded text-white my-3" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'scripts/singleVariable.js' %}"></script>
    <script>document.getElementById("singleVariableOTSubmit").click();</script>

    {% endblock %}