<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Dashboard Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
</head>
<body onload="submitOnLoad()">
    <div class="main-nav">
        <div class="row p-5">
            <div>
                <h1 class="text-center text-white text-shadow-grey">Brad and Stephen's Covid-19 Dashboard</h1>
            </div>
        </div>
        <nav class="row my-auto p-3">
                <a class="col mx-2 btn btn-primary shadow-lg text-shadow-sm" href="/">Home</a>
                <a class="col mx-2 btn btn-info text-white shadow-lg text-shadow-sm" href="/">CDC Guidelines</a>
                <a class="col mx-2 btn btn-info text-white shadow-lg text-shadow-sm" href="/">Vaccine Info</a>
                <a class="col mx-2 btn btn-info text-white shadow-lg text-shadow-sm" href="/upload_csv">Upload a .csv File</a>
                <a class="col mx-2 btn btn-info text-white shadow-lg text-shadow-sm" href="/upload_success">Successful .csv Uploads</a>
                <a class="col mx-2 btn btn-info text-white shadow-lg text-shadow-sm" href="/demos">Demo Charts</a>
                <a class="col mx-2 btn btn-primary shadow-lg text-shadow-sm" href="/admin">[ Admin ]</a>
        </nav>
    </div>
    <div class="container-md mx-auto">

        <!-- **************  LINE CHART ***************** -->
        <div class="row my-3">
            <h4 class="text-center border-dark">Single Variable Over Time</h4>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <canvas class="my-3" id="singleVariableOTCanvas"></canvas>
            </div>
        </div>
        <form class="col mx-auto" id="singleVariableOTForm" action="/charts/singleVariableOverTime" method="POST">
            {% csrf_token %}
            <div class="row">
                <!--  X/Y Axis selector  -->
                <div class="col-md-3">
                    <h6 class="my-3">Y Axis Data:</h6>
                    <div class="form-group col-md-6 d-inline-block">
                        <select class="form-control" name="cumulative_daily" id="cumulative_daily_select">
                            <option value="daily" selected>Daily</option>
                            <option value="cumulative">Cumulative</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5 d-inline-block">
                        <select class="form-control" name="cases_deaths" id="cases_deaths_select">
                                <option value="cases" selected>Cases</option>
                                <option value="deaths">Deaths</option>
                        </select>
                    </div>
                    
                    <h6 class="my-3">X Axis Data:  Date Range</h6>
                    <div class="form-group col-md-8 d-inline-block">
                        Start: <input class="form-control" type="date" name="start_date" id="start_date" value="2020-01-01">
                    </div>
                    <div class="form-group col-md-8 d-inline-block">
                        End: <input class="form-control" type="date" name="end_date" id="end_date" value="2021-01-01">
                    </div>
                </div>

                <!--  State / Territory Selector -->
                <div class="col-md-3">    
                    <h5 class="text-center my-2">Select States / Territories</h4>
                    <div class="row my-2">
                        <div class="col-md-4 bg-primary d-inline-block border rounded text-center text-white"><small>State 1</small></div>
                        <div class="form-group col-md-8 d-inline-block">
                            <select class="form-control" name="state_1" id="state_1_select">
                                {% for state in all_states %}
                                    {% if state.fips == 1 %}
                                    <option value="{{state.fips}}" selected>{{state.name}}</option>
                                    {% else %}
                                    <option value="{{state.fips}}">{{state.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-4 bg-success d-inline-block border rounded text-center text-white"><small>State 2</small></div>
                        <div class="form-group col-md-8 d-inline-block">
                            <select class="form-control" name="state_2" id="state_2_select">
                                {% for state in all_states %}
                                    {% if state.fips == 2 %}
                                    <option value="{{state.fips}}" selected>{{state.name}}</option>
                                    {% else %}
                                    <option value="{{state.fips}}">{{state.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-4 bg-danger d-inline-block border rounded text-center text-white"><small>State 3</small></div>
                        <div class="form-group col-md-8 d-inline-block">
                            <select class="form-control" name="state_3" id="state_3_select">
                                {% for state in all_states %}
                                    {% if state.fips == 4 %}
                                    <option value="{{state.fips}}" selected>{{state.name}}</option>
                                    {% else %}
                                    <option value="{{state.fips}}">{{state.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-4 bg-warning d-inline-block border rounded text-center text-white"><small>State 4</small></div>
                        <div class="form-group col-md-8 d-inline-block">
                            <select class="form-control" name="state_4" id="state_4_select">
                                {% for state in all_states %}
                                    {% if state.fips == 5 %}
                                    <option value="{{state.fips}}" selected>{{state.name}}</option>
                                    {% else %}
                                    <option value="{{state.fips}}">{{state.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 blue-finder">blah</div>
                <div class="col-md-3 blue-finder">blah</div>
                <button id="singleVariableOTSubmit" class="btn btn-sm btn-info border rounded text-white my-3" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'scripts/singleVariable.js' %}"></script>
<script>
    function submitOnLoad() {
    document.getElementById("singleVariableOTSubmit").click();
    }
</script>
</html>